- @books.each do |book|
  - if book.user_id == current_user.id
    - unless book.is_draft
      %p= link_to book.title, book_path(book)
      %p
        = envelope_for(book, size: 80)
        = book.description
      %p= raw book.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-primary"}.join(' ')
      %hr/
